<div class="col-12 col-md-6 col-lg-3">
  <%=image_tag @product.image, class:"bd-placeholder-img rounded-circle", width: 140, height: 140%>
  <h2><%=link_to @product.name, product_path(@product)%></h2>
  <%=Money.from_cents(@product.price, "USD").format%>
  <hr>
  <%=link_to @product.category.name, products_path(category_id: @product.category.id), title:"category"%>
  <%=link_to @product.maker.name, products_path(maker_id: @product.maker.id), title:"maker"%>
  <hr>
</div>
