<div class="">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/products">Products</a></li>
      <li class="breadcrumb-item"><%=link_to @category.name, category_path(@category)%></li>
      <li class="breadcrumb-item active" aria-current="page"><%=@product.name%></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <%=image_tag @product.image, alt:@product.name, title:@product.name%>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <h1><%=@product.name%></h1>
      <div class="">
        <span>$<%=@product.price%></span>
        <br />
        <span><%=@product.available ? "В наявності" : "Немає в наявності"%></span>
      </div>
      <div class="">
        Maker:  <span> <%= @product.maker.name%></span>
      </div>
    </div>
    <div class="col-12 mt-4">
      <h2>
        Опис:
      </h2>
      <p>
        <%=@product.description.html_safe%>
      </p>
    </div>
  </div>
</div>